<!DOCTYPE html>
<html lang="en" xmlns:th="html://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Account</h1>
    <table class="table table-striped">
      <thead class="thead dark">
        <tr>
          <th scope="row">username</th>
          <th scope="row">password</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="user:${acccount}"></th:block>
        <tr>
          <td th:text="${account.username}"></td>
          <td th:text="${account.password}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
